body{
  background: url(Images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.container{
  width: 90;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.box{
  
  width: 250px;
  height: 320px;
  background: #1C0F32;
  margin: -50px 10px;
  transition: 0.5s;
  border-radius: 55px;
  cursor: pointer;
}

.box:hover{
transform: scale(1.1);
background:  #1C0F32;
box-shadow: 2px 2px 2px 2xpx #000;
z-index: 2;
}



.inner{
  
  margin: -185px 55px;
  width: 140px;
  height: 140px;
  background: linear-gradient(#832eff,#fe4ff2);
  transition: 0.5s;
  border-radius: 500px;
  
}

.circle{
  width: 180px;
  height: 180px;
  background: #F4BBF2;
  margin: 25px 35px;
  transition: 0.5s;
  border-radius: 500px;
}

.text {
 padding-top: 200px;
 text-align: center;
 
 text-decoration: none;
 font-family: "Roboto Condensed", sans-serif;
 font-size: 10px;
color: #F4BBF2;
}

.subtext{

padding-top: -10px;
 text-align: center;
 text-decoration: none;
 font-family: "DM Sans", sans-serif;
 font-size: 6px;
color: white;
--max-lines: 2;
font-style: oblique;
display: -webkit-box;
-webkit-line-clamp: var(--max-lines);
-webkit-box-orient: vertical;
overflow: hidden;
}
